name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag kktest:${{ secrets.FRONT_VERSION }} 
    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Publish to docker repository
      uses: elgohr/Publish-Docker-Github-Action@v4
      with:
          name: kkaoeu/kktest:${{ secrets.FRONT_VERSION }} 
          repository: kkaoeu/kktest
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          tag_semver: true
    - name: SSH Remote Commands
      uses: appleboy/ssh-action@v0.1.5
      with: 
        host: ${{ secrets.SERVER_IP }}
        username: ${{ secrets.SERVER_USER }}
        password: ${{ secrets.SERVER_PASSWORD }}
        script: |
          sudo docker stop kktt
          sudo docker rm kktt
          sudo docker pull kkaoeu/kktest:${{ secrets.FRONT_VERSION }} 
          sudo docker run -d -p 5656:5656 --name kktt kkaoeu/kktest:${{ secrets.FRONT_VERSION }} 
    - name: Get current date
      id: date
      run: echo "::set-output name=today::$(date +'%Y-%m-%d')"
    - name: Set Action Secret
      uses: hmanzur/actions-set-secret@v2.0.0
      with: 
        name: front_version
        value: ${{ steps.date.outputs.today }} 
        repository: kk0x03/GithubAction
        token: ${{ secrets.THE_TOKEN }}
